.container-fluid {
    height: 130vh;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
::-webkit-scrollbar {
    display: none;
}
.analitics{
    height: 120vh;
    background-color: rgb(241,244,249);
}
.h-60{
    height: 60vh;
}
.h-40{
    height: 35%;
}
.h-55{
    height:60%;
}
.highlight{
    background-color: rgb(23,187,132);
    border-radius: 15px;
    font-size: small;
    color: white;
}
.greyColor{
   color: rgb(115,131,152);
}
.bgWhite{
    background-color: white;
    border-radius: 5px;

}
.border-right{
    border-right: 2px solid lightgray;
}
.upperpart{
    border-bottom: 2px solid lightgray;
}
.boderedcol{
    border: 1px solid lightgray;
    border-radius: 5px;
}
h6{
    font-size: smaller !important;
}
.hgraph{
    height: 50%;
}