.container-fluid {
    height: 100vh;
    box-shadow: 0.2px 0.5px 2px 0.5px #888888;
}
ul{
    display: inline;
    
}
img{
    height: 30px;
    width: 30px;
}
li{
    list-style: none;
    color: rgb(61, 61, 61);
    border-radius: 5px;
    
}
li:hover{
    color: white;
    background-color: rgb(13,110,253);
    transition: 0.5s ease;
}
.border-gray{
    border-bottom: 2px solid white;
 
}
.f-size{
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(103, 102, 102);
}
.removestyle{
text-decoration: none;
}