.container-fluid {
    height: 100vh;
}
ul{
    display: inline;
    
}
img{
    height: 30px;
    width: 30px;
}
li{
    list-style: none;
    color: rgb(61, 61, 61);
    border-radius: 5px;
    
}
li:hover{
    color: white;
    background-color: rgb(2, 117, 216);
    transition: 0.5s ease;
}
.border-gray{
border: 2px solid lightgray;
}
.f-size{
    font-size:smaller;
    font-weight: bold;
}